@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*
{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Quicksand',sans-serif;
}
body
{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  background:#000;
}
section 
{
  position:absolute;
  width:100vw;
  height:100vw;
  display:flex;
  justify-content:center;
  align-items:center;
}
section .signin
{
  position:absolute;
  width:400px;
  background:#222;
  z-index:1000;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:40px;
  border-radius:4px;
  box-shadow:0 15px 35px rgba(0,0,0,0.5);
}
section .signin .content
{
  position:relative;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  gap:40px;
}
section .signin .content h2
{
  font-size: 2em;
  color:#000fff;
  text-transform:uppercase;
 }
section .signin .content. form
{
  width: 100%;
  display:flex;
  flex-direction:column;
  gap: 25px;
}
section .signin .content .form .inputBx
{
  position: relative;
  width:100%;
}
section .signin .content .form .inputBx input
{
  position:relative;
  width:100%;
  background: #333;
  border: none;
  outline:none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color:#fff;
  font-weight: 500;
  font-size: 1em;
}
section .signin .content .form .inputBx i
{
  position: absolute;
  left:0;
  padding:15px 10px;
  font-style:normal;
  color:#aaa;
  transition:0.5s;
  pointer-events: none; 
}
.signin .content .form .inputBx input:focus ~ i,
.signin .content .form .inputBx input:valid ~ i
{
  transform: translateY(-7.5px);
  font-size:0.8em;
  color:#fff;  
}
.signin .content .form .links
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.signin .content .form .links a:
{
  color: #fff;
  text-decoration: none;
}
.signin .content .form .links a:nth-child(2)

