@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

body{
  overflow: hidden;
  font-family:'Poppins', sans-serif;
}
/*header*/
.header{
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
  z-index: 10;
}
.header .container{
  display:flex;
  align-items:center;
  justify-content: space-between;
}
.header .logo img{
  vertical-align: middle;
}
.header .menu .head{
  display: none;
}
.header .menu ul{
  list-style: none;
}
.header .menu > ul > li {
  display: inline-block;
}
.header .menu > ul > li:not(:last-child){
 margin-right: 40px;
}
/* 1° item para adicionar no menu dos sites já desenvolvidos  */
.header .menu .dropdown{
  position: relative;
}
.header .menu a{
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  color: hsl(0,0%,100%);
  line-height: 1.5;
  display: block;
}
.header .menu > ul > li > a{
  padding: 24px 0;
}
/* 2° item para adicionar nos menus dos sites já desenvolvidos */
.header .menu > ul > .dropdown > a {
  padding-right: 15px;
}
.header .menu i{
 font-size:10px;
 pointer-events: none;
 user-select: none;
 position: absolute;
 color: hsl(0, 0%, 100%);
 top: calc(50% - 5px);
}
.header .menu > ul > li > i{
 right: 0;
}
.header .menu .sub-menu{
 position: absolute;
 top: 100%;
 left:0;
 width: 230px;
 padding: 15px 0;
 background-color: hsl(229,54%,51%);
 box-shadow: 0 0 5px hsla(0,0%,0%,0.5);
 z-index:1;
}
.header .menu .sub-menu a{
 padding:6px 24px;
}
.header .menu .sub-menu .dropdown >a{
  padding-right: 34px;
}
.header .menu. sub-menu span{
  background-image: linear-gradient(hsl(0,0%,100%));
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: background-size 0.5s ease;
}
.header .menu .sub-menu i{
  transform: rotate(-90deg);
  right: 24px;
}
/* hero */
.hero{
  min-height: 100vh;
  background-image: url('../img/background.jpg');
  background-size:cover;
  background-position: center;
}
